.mb-3 {
    margin: 0 auto;
    width: 70%;
    height: 70%;
    margin-top: 10%;
}


.btn {
    margin: 0 auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: rgb(241, 239, 239);
    font-weight: bold;
    border: none;
}
body {
    background-color: rgb(71, 68, 59);
}

.nav-link{
    color: #373d3f;
}
.navbar-brand {
    color: #373d3f; 
}
body {
    background-color: rgb(197, 194, 194);
}

